#animation-hero {
    padding-top: calc(50px + 5vw);
    margin-bottom: 3.4rem;
    position: relative;
    z-index: 2
}

#animation-hero .container {
    max-width: 1300px;
    margin-bottom: 20px
}

#animation-hero .column {
    text-align: center
}

@media (min-width: 650px) {
    #animation-hero .container {
        margin-bottom: 0
    }
    #animation-hero .column {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        text-align: left
    }
    #animation-hero .h5,
    #animation-hero h5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }
}

#animation-hero-video {
    position: relative;
    z-index: 1
}

#animation-hero-video .capabilities-video {
    position: relative
}

#animation-hero-video .video-indicator {
    position: relative;
    z-index: 2
}

#animation-hero-video .animation-circle,
#animation-hero-video .animation-diamond,
#animation-hero-video .animation-dotted-circle,
#animation-hero-video .animation-geometric {
    position: absolute;
    z-index: 1;
    background: 50% 50% / cover no-repeat;
    -webkit-transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9)
}

#animation-hero-video .animation-diamond,
#animation-hero-video .animation-geometric {
    display: none
}

#animation-hero-video .animation-circle {
    width: 100px;
    height: 100px;
    left: -11.538%;
    bottom: -25.407%;
    background-image: url("../img/animated_pngs/CirclesSM.gif")
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #animation-hero-video .animation-circle {
        background-image: url("../img/animated_pngs/Circles.gif")
    }
}

#animation-hero-video .animation-dotted-circle {
    width: 150px;
    height: 150px;
    right: 3%;
    top: -40.84%;
    background-image: url("../img/animated_pngs/DottedCircleSM.gif")
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #animation-hero-video .animation-dotted-circle {
        background-image: url("../img/animated_pngs/DottedCircle.gif")
    }
}

@media (min-width: 650px) {
    #animation-hero-video .animation-diamond,
    #animation-hero-video .animation-geometric {
        display: block
    }
    #animation-hero-video .animation-circle {
        width: 15.077%;
        height: 26.814%;
        left: 6.462%;
        bottom: -13.407%
    }
    #animation-hero-video .animation-diamond {
        width: 34.616%;
        height: 61.56%;
        left: 5.155%;
        top: -26.44%;
        background-image: url("../img/animated_pngs/DiamondSM.gif")
    }
}

@media (min-width: 650px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 650px) and (min-resolution: 192dpi) {
    #animation-hero-video .animation-diamond {
        background-image: url("../img/animated_pngs/Diamond.gif")
    }
}

@media (min-width: 650px) {
    #animation-hero-video .animation-dotted-circle {
        width: 15.385%;
        height: 27.248%;
        right: 13%;
        top: -14.84%
    }
    #animation-hero-video .animation-geometric {
        width: 17.078%;
        height: 24.352%;
        right: 5.462%;
        bottom: -16.02%;
        background-image: url("../img/animated_pngs/GeometricSM.gif")
    }
}

@media (min-width: 650px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 650px) and (min-resolution: 192dpi) {
    #animation-hero-video .animation-geometric {
        background-image: url("../img/animated_pngs/Geometric.gif")
    }
}

#animation-hero-video .apng-image {
    -webkit-transition: all .35s ease 0s;
    transition: all .35s ease 0s;
    display: none
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #animation-hero-video .apng-image {
        display: none
    }
}

#animation-hero-video .apng-image:last-of-type {
    display: none
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #animation-hero-video .apng-image:last-of-type {
        display: block
    }
}

#animation-hero-video canvas.apng-image {
    display: block
}

#animation-expertise-list .container {
    max-width: 1030px
}

#animation-expertise-list .column {
    text-align: center;
    margin-bottom: 50px
}

#animation-expertise-list span {
    display: block;
    margin-bottom: 10px
}

@media (min-width: 900px) {
    #animation-expertise-list .column {
        text-align: left;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    #animation-expertise-list .column:nth-child(odd) {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 calc(50% - 10px);
        -ms-flex: 0 0 calc(50% - 10px);
        flex: 0 0 calc(50% - 10px)
    }
    #animation-expertise-list .column:nth-child(even) {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 calc(50% - 60px);
        -ms-flex: 0 0 calc(50% - 60px);
        flex: 0 0 calc(50% - 60px)
    }
    #animation-expertise-list span {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 40px;
        -ms-flex: 0 0 40px;
        flex: 0 0 40px;
        margin-bottom: 0
    }
    #animation-expertise-list img {
        max-height: 34px
    }
    #animation-expertise-list p {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 calc(100% - 62px);
        -ms-flex: 0 0 calc(100% - 62px);
        flex: 0 0 calc(100% - 62px);
        margin-bottom: 0
    }
}

@media (min-width: 650px) {
    #branding-hero .column.image {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 calc(50% + 259px);
        -ms-flex: 0 0 calc(50% + 259px);
        flex: 0 0 calc(50% + 259px);
        margin-right: -264px
    }
}

@media (min-width: 650px) {
    #branding-brand-development .column.copy .content {
        padding-left: 54px
    }
}

@media (min-width: 650px) {
    #branding-logo-and-identity-design .column.copy .content {
        padding-right: 26px
    }
    #branding-logo-and-identity-design .column.image {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 calc(50% + 10px);
        -ms-flex: 0 0 calc(50% + 10px);
        flex: 0 0 calc(50% + 10px);
        margin-right: -66px
    }
}

@media (min-width: 1024px) {
    #branding-logo-and-identity-design .column.image {
        margin-right: -116px
    }
}

@media (min-width: 650px) {
    #branding-brand-guides .column.copy .content {
        padding-left: 50px
    }
    #branding-brand-guides .column.image {
        margin-left: -64px
    }
}

@media (min-width: 1024px) {
    #branding-brand-guides .column.image {
        margin-left: -104px
    }
}

@media (min-width: 650px) {
    #branding-naming .column.copy .content {
        padding-right: 30px
    }
}

body.parent-pageid-142 .layout-multi_column {
    padding: 6.4vw 0;
    margin-bottom: 60px
}

@media (min-width: 800px) {
    body.parent-pageid-142 .layout-multi_column {
        padding: 6.4rem 0
    }
}

body.parent-pageid-142 .layout-multi_column .container {
    max-width: 1236px
}

body.parent-pageid-142 .layout-multi_column .column {
    margin-bottom: 40px
}

body.parent-pageid-142 .layout-multi_column .column:last-child {
    margin-bottom: 0
}

body.parent-pageid-142 .layout-multi_column .column .content {
    width: 100%;
    max-width: none
}

body.parent-pageid-142 .layout-multi_column .kitchensink {
    padding: 0
}

@media (min-width: 650px) {
    body.parent-pageid-142 .layout-multi_column .container.one-half .column:first-child {
        margin-bottom: 0
    }
    body.parent-pageid-142 .layout-multi_column:nth-child(odd) .container.one-half .column.copy {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }
    body.parent-pageid-142 .layout-multi_column:nth-child(odd) .container.one-half .column.image {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2
    }
}

body.parent-pageid-142 article section:first-child h5 {
    margin-bottom: 20px
}

body.parent-pageid-142 article section:first-child h5::after {
    content: '';
    display: block;
    background: #DAA25A;
    height: 1px;
    width: 72px;
    margin: 24px auto 0
}

@media (min-width: 650px) {
    body.parent-pageid-142 article section:first-child h5::after {
        margin-left: 0
    }
}

@media (min-width: 801px) {
    body.parent-pageid-142 .post-examples .container.one-fourth>.column {
        margin-bottom: 0
    }
}

body.parent-pageid-142 .snippets-examples .bar {
    display: none;
    visibility: hidden
}

#capabilities-hero {
    padding: 6.8vw 0 7vw
}

@media (max-width: 649px) {
    #capabilities-hero {
        margin-top: 0;
        margin-bottom: 0
    }
}

#capabilities-hero .apng-image {
    display: none
}

#capabilities-hero .h1,
#capabilities-hero h1 {
    display: inline-block
}

@media (min-width: 650px) {
    #capabilities-hero {
        margin-bottom: 0
    }
}

#capabilities-hero .split-level {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

#capabilities-hero .split-level span {
    display: block;
    height: 1px;
    width: 84px;
    margin: 0 auto 26px;
    background: #DAA25A;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 84px;
    -ms-flex: 0 0 84px;
    flex: 0 0 84px
}

#capabilities-hero .split-level .h1,
#capabilities-hero .split-level h1,
#capabilities-hero .split-level .h5,
#capabilities-hero .split-level h5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    text-align: center
}

@media (min-width: 650px) {
    #capabilities-hero .split-level {
        display: block;
        width: 70%
    }
    #capabilities-hero .split-level h5 {
        text-align: left;
        margin-bottom: 12px
    }
    #capabilities-hero .split-level span {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 84px;
        -ms-flex: 0 0 84px;
        flex: 0 0 84px;
        height: 1px;
        margin: 0 0 24px 35px
    }
    #capabilities-hero .split-level .h1,
    #capabilities-hero .split-level h1 {
        font-size: 4.4rem;
        text-align: right
    }
}

@media (min-width: 800px) {
    #capabilities-hero .split-level .h1,
    #capabilities-hero .split-level h1 {
        padding-left: 100px;
        text-indent: -160px
    }
}

@media (min-width: 1300px) {
    #capabilities-hero .split-level .h1,
    #capabilities-hero .split-level h1 {
        padding-left: 250px;
        text-indent: -250px
    }
}

#sketch-table .column {
    position: relative
}

@media (max-width: 799px) {
    #sketch-table .container {
        width: 100%
    }
}

.speckles-capabilities-hero {
    position: absolute;
    width: 36.1rem;
    height: 28.1rem;
    top: -8.7rem;
    left: -6.9rem;
    background: url("../img/speckles-capabilities-hero.svg") 50% 50%/contain no-repeat;
    z-index: 3;
    pointer-events: none
}

.capabilities-video {
    position: relative;
    z-index: 2
}

.capabilities-video img {
    display: block;
    margin: 0 auto
}

.flourish-capabilities-hero {
    width: 10.0rem;
    height: 10.0rem;
    top: -5.0rem;
    right: 8.0rem;
    position: absolute;
    z-index: 3;
    -webkit-transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    pointer-events: none
}

@media (min-width: 650px) {
    .flourish-capabilities-hero {
        width: 13.3rem;
        height: 13.3rem;
        top: -6.8rem;
        right: 18.4rem
    }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .flourish-capabilities-hero .apng-image {
        display: none
    }
}

.flourish-capabilities-hero .apng-image:last-of-type {
    display: none
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .flourish-capabilities-hero .apng-image:last-of-type {
        display: block
    }
}

#capabilities-custom-experiences .apng-image {
    margin-bottom: 2.8rem
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #capabilities-custom-experiences .apng-image {
        display: none
    }
}

#capabilities-custom-experiences .apng-image:first-of-type {
    display: none
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #capabilities-custom-experiences .apng-image:first-of-type {
        display: block
    }
}

@media (min-width: 650px) {
    #capabilities-our-services .h2,
    #capabilities-our-services h2 {
        max-width: 320px
    }
}

.info-cards .column {
    border: 1px solid #ECF1F3;
    -webkit-transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.info-cards .column a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: url("../img/texture.jpg");
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 6rem 0 6.8rem;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s
}

.info-cards .column a::before,
.info-cards .column a::after {
    content: '';
    position: absolute;
    -webkit-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s
}

.info-cards .column a::before {
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1
}

.info-cards .column a::after {
    bottom: 2rem;
    right: 1.6rem;
    width: 4.4rem;
    height: 3.7rem;
    background: url("../img/arrow_right_short_gold.svg") 50% 50%/contain no-repeat;
    opacity: 0;
    -webkit-transform: rotatez(45deg);
    transform: rotatez(45deg)
}

.info-cards .column:nth-child(5n+1) a {
    background-position: 50px 50px
}

.info-cards .column:nth-child(5n+2) a {
    background-position: 150px 150px
}

.info-cards .column:nth-child(5n+3) a {
    background-position: 250px 250px
}

.info-cards .column:nth-child(5n+4) a {
    background-position: 350px 250px
}

.info-cards .column:nth-child(5n+5) a {
    background-position: 450px 150px
}

.info-cards .column .content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 80%;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 3
}

.info-cards .column .h5,
.info-cards .column h5 {
    -webkit-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    margin-bottom: 1.8rem
}

.info-cards .column p {
    line-height: 1.7;
    margin-bottom: 1rem
}

.info-cards .column p:last-of-type {
    margin-bottom: 0
}

.info-cards .column .icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 3.1rem;
    -ms-flex: 0 0 3.1rem;
    flex: 0 0 3.1rem
}

.info-cards .column .icon svg {
    max-width: 3.1rem;
    max-height: 3.1rem;
    -webkit-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s
}

.info-cards .column .icon svg .st0,
.info-cards .column .icon svg .st1 {
    -webkit-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s
}

.info-cards .column .card-info {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100% - 5.0rem);
    -ms-flex: 0 0 calc(100% - 5.0rem);
    flex: 0 0 calc(100% - 5.0rem)
}

.info-cards .column:hover,
.info-cards .column.active {
    border-color: #333E48
}

.info-cards .column:hover a::before,
.info-cards .column.active a::before {
    opacity: 0
}

.info-cards .column:hover a::after,
.info-cards .column.active a::after {
    opacity: 1
}

.info-cards .column:hover svg .st0,
.info-cards .column.active svg .st0 {
    opacity: 0.5 !important;
    fill: #ffffff !important
}

.info-cards .column:hover svg .st1,
.info-cards .column.active svg .st1 {
    fill: #ffffff !important
}

.info-cards .column:hover .h5,
.info-cards .column:hover h5,
.info-cards .column.active .h5,
.info-cards .column.active h5 {
    color: white
}

.info-cards .column:hover p,
.info-cards .column.active p {
    color: rgba(255, 255, 255, 0.6)
}

@media (min-width: 550px) {
    .info-cards .column {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%
    }
    .info-cards .column a {
        padding: 4rem 0 6.8rem
    }
}

@media (min-width: 850px) {
    .info-cards .column {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.3333%;
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        min-height: 300px
    }
}

.info-cards a:hover {
    text-shadow: none !important
}

#capabilities-custom-experiences figure {
    margin: 0 auto 15px
}

@media (max-width: 499px) {
    #capabilities-custom-experiences figure {
        width: 100% !important;
        max-width: 100% !important
    }
    #capabilities-custom-experiences figure * {
        width: 100%;
        max-width: 100% !important
    }
    #capabilities-custom-experiences .column:last-child .content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0
    }
    #capabilities-custom-experiences .column:last-child figure {
        margin: 1rem 0 0 0
    }
    #capabilities-custom-experiences .column:last-child figure:nth-of-type(2) {
        -webkit-box-flex: 0 !important;
        -webkit-flex: 0 0 calc(48.25% - 0.5rem) !important;
        -ms-flex: 0 0 calc(48.25% - 0.5rem) !important;
        flex: 0 0 calc(48.25% - 0.5rem) !important
    }
    #capabilities-custom-experiences .column:last-child figure:nth-of-type(3) {
        -webkit-box-flex: 0 !important;
        -webkit-flex: 0 0 calc(51.75% - 0.5rem) !important;
        -ms-flex: 0 0 calc(51.75% - 0.5rem) !important;
        flex: 0 0 calc(51.75% - 0.5rem) !important
    }
}

@media (min-width: 500px) {
    #capabilities-custom-experiences .column:first-child .content {
        max-width: 420px;
        margin: 0 auto
    }
    #capabilities-custom-experiences .column:last-child .content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
    #capabilities-custom-experiences .column:last-child figure {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin: 0 0 15px
    }
    #capabilities-custom-experiences .column:last-child figure:not(:first-child) {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 calc(50% - 7.5px);
        -ms-flex: 0 0 calc(50% - 7.5px);
        flex: 0 0 calc(50% - 7.5px)
    }
    #capabilities-custom-experiences .column:last-child figure:last-of-type {
        margin-left: 15px
    }
}

@media (min-width: 650px) {
    #capabilities-custom-experiences .column:last-child {
        padding: 0 0 0 30px
    }
}

#capabilities-high-fives {
    padding-top: 4rem
}

#capabilities-high-fives .h2,
#capabilities-high-fives h2 {
    font-size: 4.4rem
}

#capabilities-high-fives img,
#capabilities-high-fives canvas {
    display: none
}

#capabilities-client-logos .container {
    max-width: 1000px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

#capabilities-client-logos .column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(42% - 7.5px);
    -ms-flex: 0 0 calc(42% - 7.5px);
    flex: 0 0 calc(42% - 7.5px);
    margin-bottom: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 58px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

#capabilities-client-logos .content {
    width: 100%
}

@media (min-width: 600px) {
    #capabilities-client-logos {
        padding-top: 2rem
    }
    #capabilities-client-logos .container {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    #capabilities-client-logos .column {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 calc(33% - 5px);
        -ms-flex: 0 0 calc(33% - 5px);
        flex: 0 0 calc(33% - 5px)
    }
}

@media (min-width: 800px) {
    #capabilities-client-logos {
        padding-top: 1rem
    }
    #capabilities-client-logos .container {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
    #capabilities-client-logos .column {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 calc(25%);
        -ms-flex: 0 0 calc(25%);
        flex: 0 0 calc(25%)
    }
}

@media (min-width: 950px) {
    #capabilities-client-logos .column {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 calc(20%);
        -ms-flex: 0 0 calc(20%);
        flex: 0 0 calc(20%);
        margin-bottom: 60px
    }
}

#content-hero {
    background: #efede6;
    padding-bottom: 0
}

#content-hero>.container {
    position: relative;
    z-index: 2
}

@media (min-width: 1024px) {
    #content-hero>.container {
        padding-top: 17rem
    }
}

#content-hero .content {
    width: 100%
}

@media (min-width: 640px) {
    #content-hero .content {
        max-width: 45.5rem;
        margin: 0
    }
    #content-hero .content .h1,
    #content-hero .content h1,
    #content-hero .content .h5,
    #content-hero .content h5 {
        text-align: left
    }
}

@media (min-width: 800px) {
    #content-hero .content h1 {
        padding: 0;
        text-indent: 0
    }
}

@media (min-width: 1024px) {
    #content-hero .content {
        padding-left: 6.2rem
    }
}

#content-hero .content-hero-img {
    position: relative;
    height: 32.1rem;
    z-index: 1;
    margin-top: -9rem
}

#content-hero .content-hero-img figure {
    width: 64rem;
    margin: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translatex(-12rem);
    transform: translatex(-12rem);
    -webkit-transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9)
}

@media (min-width: 641px) {
    #content-hero .content-hero-img {
        height: 51.4rem;
        margin-top: -22rem
    }
    #content-hero .content-hero-img figure {
        min-width: 102.4rem;
        -webkit-transform: translatex(-27rem);
        transform: translatex(-27rem)
    }
}

@media (min-width: 1023px) {
    #content-hero .content-hero-img {
        height: 61.0rem;
        margin-top: -26.5rem
    }
    #content-hero .content-hero-img figure {
        min-width: 121.4rem;
        -webkit-transform: translatex(-48rem);
        transform: translatex(-48rem)
    }
}

#content-stories-to-tell .lead-in-content {
    max-width: 70rem
}

#content-stories-to-tell .one-half {
    max-width: 113.8rem
}

#content-stories-to-tell .one-half .content {
    padding: 0 3rem;
    text-align: center
}

@media (max-width: 1139px) {
    #content-stories-to-tell .one-half>.column {
        -webkit-box-flex: 0 !important;
        -webkit-flex: 0 0 100% !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important
    }
    #content-stories-to-tell .one-half>.column .content {
        max-width: 60rem;
        margin: 0 auto 8rem auto
    }
    #content-stories-to-tell .one-half>.column .content h4 {
        margin-top: 0
    }
}

@media (max-width: 899px) {
    #content-stories-to-tell .one-half>.column {
        -webkit-box-flex: 0 !important;
        -webkit-flex: 0 0 100% !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important
    }
    #content-stories-to-tell .one-half>.column .content {
        max-width: 60rem;
        margin: 0 auto 7.5vw auto
    }
    #content-stories-to-tell .one-half>.column .content h4 {
        margin-top: 5vw
    }
    #content-stories-to-tell .one-half>.column:last-of-type {
        margin: 0 auto
    }
}

@media (min-width: 900px) {
    #content-stories-to-tell .one-half .content {
        position: relative;
        padding: 0 0 0 20rem;
        text-align: left
    }
    #content-stories-to-tell .one-half .column {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 calc(50% - 2rem);
        -ms-flex: 0 0 calc(50% - 2rem);
        flex: 0 0 calc(50% - 2rem)
    }
    #content-stories-to-tell .one-half figure {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

@media (min-width: 1001px) {
    #content-stories-to-tell .h2,
    #content-stories-to-tell h2 {
        font-size: 4.2rem
    }
}

@media (min-width: 1150px) {
    #content-stories-to-tell .one-half .column {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 calc(50% - 5rem);
        -ms-flex: 0 0 calc(50% - 5rem);
        flex: 0 0 calc(50% - 5rem)
    }
}

@media (min-width: 650px) {
    #content-story-mediums .one-fourth {
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        -ms-grid-row-align: baseline;
        align-items: baseline
    }
    #content-story-mediums .one-fourth .content {
        padding: 0 2rem
    }
    #content-story-mediums .one-fourth .content h4,
    #content-story-mediums .one-fourth .content .h4 {
        margin-top: 2rem
    }
}

body.environmental-design main article {
    background: #1e8e42
}

body.environmental-design main article h1,
body.environmental-design main article .h1,
body.environmental-design main article h3,
body.environmental-design main article .h3,
body.environmental-design main article h5,
body.environmental-design main article .h5,
body.environmental-design main article p {
    color: white
}

@media (min-width: 650px) {
    #environmental-design-hero .column.copy {
        padding-right: 36px
    }
}

@media (min-width: 650px) {
    #environmental-design-signage .column.image {
        margin-left: -20px
    }
    #environmental-design-signage .column.copy {
        padding-left: 52px
    }
}

@media (min-width: 650px) {
    #environmental-design-installations .column.copy {
        padding-right: 26px
    }
}

@media (min-width: 650px) {
    #environmental-design-interiors .column.image {
        margin-left: -16px
    }
    #environmental-design-interiors .column.copy {
        padding-right: 52px
    }
}

body.illustration main article {
    background: #cdba3a
}

body.illustration .post-examples {
    -webkit-transition: margin 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    transition: margin 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9)
}

@media (min-width: 641px) {
    body.illustration .post-examples {
        position: relative;
        background: white;
        margin-top: -80px;
        z-index: 2
    }
}

@media (min-width: 1024px) {
    body.illustration .post-examples {
        margin-top: -378px
    }
}

#illustration-hero {
    position: relative
}

@media (min-width: 1024px) {
    #illustration-hero>.container {
        padding-top: 17rem
    }
}

#illustration-hero .h1,
#illustration-hero h1,
#illustration-hero .h5,
#illustration-hero h5 {
    color: black
}

#illustration-hero .h5::after,
#illustration-hero h5::after {
    background: white;
    margin-left: 0
}

.illustration-hero-content {
    position: relative;
    z-index: 2
}

.illustration-hero-content .content {
    max-width: 572px
}

.illustration-background {
    max-width: 100%;
    margin-top: -100px;
    z-index: 1
}

.illustration-background figure {
    width: 640px;
    height: 719px;
    margin: 0 0 0 -320px;
    left: 50%
}

@media (min-width: 641px) {
    .illustration-background {
        margin-top: -190px
    }
    .illustration-background figure {
        width: 1024px;
        height: 1151px;
        margin: 0 0 0 -512px
    }
}

@media (min-width: 1024px) {
    .illustration-background {
        margin-top: -320px
    }
    .illustration-background figure {
        width: 1983px;
        height: 2229px;
        margin: 0 0 0 -991px
    }
}

@media (min-width: 1200px) {
    .illustration-background {
        margin-top: -620px
    }
    .illustration-background figure {
        margin: 0 0 0 -920px
    }
}

@media (min-width: 1400px) {
    .illustration-background figure {
        margin: 0 0 0 -991px
    }
}

.illustration-hero-animation {
    position: relative
}

@media (min-width: 641px) {
    .illustration-hero-animation .content {
        position: absolute;
        width: 34%;
        bottom: 230px;
        right: 0
    }
    .illustration-hero-animation .content figure {
        margin: 0
    }
}

@media (min-width: 1024px) {
    .illustration-hero-animation .content {
        width: 46%;
        max-width: 492px;
        bottom: 550px
    }
}

@media (min-width: 650px) {
    #print-and-packaging-hero .column.image {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 calc(50% + 194px);
        -ms-flex: 0 0 calc(50% + 194px);
        flex: 0 0 calc(50% + 194px);
        margin-right: -276px
    }
}

@media (min-width: 900px) {
    #print-and-packaging-hero .column.image {
        margin-right: -198px
    }
}

@media (min-width: 650px) {
    #print-and-packaging-promotional-material .column.image {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 calc(50% + 38px);
        -ms-flex: 0 0 calc(50% + 38px);
        flex: 0 0 calc(50% + 38px);
        margin-right: -100px
    }
    #print-and-packaging-promotional-material .column.copy .content {
        padding-left: 50px
    }
}

@media (min-width: 650px) {
    #print-and-packaging-packaging .column.copy .content {
        padding-right: 26px
    }
}

@media (min-width: 650px) {
    #website-design-and-development-lifestyle-e-commerce .column.copy {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }
    #website-design-and-development-lifestyle-e-commerce .column.image {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2
    }
    #website-design-and-development-lifestyle-e-commerce .column.image {
        margin-right: -26px
    }
    #website-design-and-development-lifestyle-e-commerce .column.copy .content {
        padding-right: 26px
    }
}

body.software-product-design main article {
    background: #0E1C41
}

body.software-product-design main article h1,
body.software-product-design main article .h1,
body.software-product-design main article h3,
body.software-product-design main article .h3,
body.software-product-design main article h5,
body.software-product-design main article .h5 {
    color: white
}

body.software-product-design main article p {
    color: #989ea3
}

@media (min-width: 1024px) {
    body.software-product-design .layout-multi_column {
        padding: 1rem 0
    }
}

@media (min-width: 1200px) {
    body.software-product-design .layout-multi_column {
        padding: 2rem 0
    }
}

@media (min-width: 650px) {
    #software-product-design-hero .column.copy {
        padding-right: 36px
    }
}

@media (min-width: 700px) {
    #software-product-design-hero .column.copy {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 45%;
        -ms-flex: 0 0 45%;
        flex: 0 0 45%
    }
    #software-product-design-hero .column.image {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 55%;
        -ms-flex: 0 0 55%;
        flex: 0 0 55%
    }
}

@media (min-width: 1024px) {
    #software-product-design-hero {
        margin-bottom: 20px
    }
}

@media (min-width: 650px) {
    #software-product-design-mobile-application .column.image {
        margin-left: -20px
    }
    #software-product-design-mobile-application .column.copy {
        padding-left: 52px
    }
}

@media (min-width: 650px) {
    #software-product-design-user-interface-guidelines .column.copy {
        padding-right: 26px
    }
    #software-product-design-user-interface-guidelines .column.image figure {
        margin: 0 0 0 17px
    }
}

@media (min-width: 650px) {
    #software-product-design-web-application .column.image {
        margin-left: -40px
    }
    #software-product-design-web-application .column.copy {
        padding-left: 52px
    }
}

#lunar-surface {
    max-height: 353px;
    width: 100%;
    background: center center / cover repeat-x;
    padding-top: 4rem
}

#lunar-surface[style*="background-color"] {
    background-color: transparent !important
}

@media (min-width: 1024px) {
    #lunar-surface {
        height: 353px
    }
}

#astronaut {
    margin: 0 auto;
    width: 206px;
    height: 185px;
    background: 50% 50% / contain no-repeat;
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
    -webkit-transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9)
}

#astronaut[style*="background-color"] {
    background-color: transparent !important
}

@media (min-width: 1024px) {
    #astronaut {
        -webkit-transform: translateX(120%);
        transform: translateX(120%)
    }
}

@media (min-width: 650px) {
    #strategy-hero .column.image {
        margin-right: -20px
    }
}

@media (min-width: 650px) {
    #strategy-research-and-discovery .column.image {
        margin-left: -36px
    }
    #strategy-research-and-discovery .column.copy .content {
        padding-left: 50px
    }
}

@media (min-width: 650px) {
    #strategy-content-strategy .column.image {
        margin-right: -68px
    }
    #strategy-content-strategy .column.copy .content {
        padding-right: 26px
    }
}

@media (min-width: 650px) {
    #strategy-communication-strategy .column.image {
        margin-left: -20px
    }
    #strategy-communication-strategy .column.copy .content {
        padding-left: 50px
    }
}

@media (min-width: 650px) {
    #strategy-marketing-campaigns .column.image {
        margin-right: -26px
    }
    #strategy-marketing-campaigns .column.copy .content {
        padding-right: 28px
    }
}

body.website-design-and-development main article {
    background: #f2f2f2
}

@media (min-width: 650px) {
    #website-design-and-development-hero .column.image {
        margin-right: -2.4rem
    }
    #website-design-and-development-hero .column.image {
        padding-right: 2.4rem
    }
}

@media (min-width: 650px) {
    #website-design-and-development-website-design-development .column.image {
        margin-left: -4.2rem
    }
    #website-design-and-development-website-design-development .column.image {
        padding-left: 5.2rem
    }
}

#website-design-and-development-platforms {
    background: white
}

@media (max-width: 799px) {
    #website-design-and-development-platforms .container.one-third>.column {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        padding: 5vw 0
    }
}

@media (min-width: 650px) {
    #website-design-and-development-platforms .container {
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        -ms-grid-row-align: baseline;
        align-items: baseline
    }
    #website-design-and-development-platforms .column {
        margin-bottom: 0
    }
    #website-design-and-development-platforms .column.center {
        -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
        align-self: baseline
    }
    #website-design-and-development-platforms .column.image {
        margin-left: -4.2rem
    }
    #website-design-and-development-platforms .column.image {
        padding-left: 5.2rem
    }
    #website-design-and-development-platforms .content {
        padding: 0 3.0rem;
        max-width: 400px;
        margin: 0 auto
    }
    #website-design-and-development-platforms .content.kitchensink>figure:last-of-type+* {
        margin-top: 2rem
    }
}

@media (min-width: 650px) and (max-width: 1099px) {
    #website-design-and-development-platforms .content {
        padding: 0 1.2rem
    }
}

@media (min-width: 650px) and (max-width: 799px) {
    #website-design-and-development-platforms .content {
        padding: 0
    }
}


/*# sourceMappingURL=capabilities.css.map */